/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-image: url('/./images/cover-image-light.png');
  --bg-color: #FFF1F7;
  --text-color-title: #FFC2E6;
  --text-color-content: #353430;
  --accent-color: #FF8DCB;
  --accent-color-transparent: #FF007066;
  --display-rec: none;
}

.theme-light .decorative-rec {
  display: var(--display-rec);
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url('/./images/cover-image-light.png');
    --bg-color: #FFF1F7;
    --text-color-title: #FFC2E6;
    --text-color-content: #353430;
    --accent-color: #FF8DCB;
    --accent-color-transparent: #FF007066;
    --display-rec: none;
  }
}

.theme-light .title__text-decor {
  color: var(--text-color-title);
}