/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-image: url("../images/cover-image-light.png");
  --bg-color: #fff1f7;
  --text-color-title: #353430;
  --text-header-footer: #ffc2e6;
  --text-color-content: #353430;
  --accent-color: #ff8dcb;
  --accent-color-support: #353430;
  --accent-color-transparent: #ff8dcb;
  --display-rec: none;
}

.theme-light .decorative-rec {
  display: var(--display-rec);
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url("../images/cover-image-light.png");
    --bg-color: #fff1f7;
    --text-color-title: #353430;
    --text-header-footer: #ffc2e6;
    --text-color-content: #353430;
    --accent-color: #ff8dcb;
    --accent-color-transparent: #ff8dcb;
    --display-rec: none;
  }
}

