/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  place-items: center;
}

.header {
  position: relative;
  block-size: 100vh;
  max-height: 668px;
  display: grid;
  grid-template-rows: 2fr auto 2fr;
  grid-template-areas:
    "menu"
    "focus"
    "content";
}

.header__theme-menu {
  grid-area: menu;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.header__theme-menu-button {
  font-family: var(--text-font-family);
  font-weight: var(--font-weight-main-text);
  font-size: var(--text-font-size-title);
  line-height: 18px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: lowercase;
  background-color: transparent;
  color: var(--accent-color);
  border: 1px solid transparent;
  cursor: pointer;
}

.header__theme-menu-button:focus {
  border: 1px solid transparent;
  border-bottom: 1px solid var(--accent-color);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--accent-color-transparent);
}

.header__theme-menu-button:active {
  border: 1px solid var(--accent-color);
  pointer-events: none;
}

.decorative-rec {
  position: absolute;
  display: flex;
  top: 11px;
  right: 23px;
  font-family: var(--text-font-family);
  font-size: 18px;
  font-weight: 400;
  color: var(--accent-color);
  line-height: 25px;
  /*display: none;*/
}

.decorative-rec::after {
  content: "•";
  display: inline-block;
  font-size: 52px;
  margin-inline-start: 4px;
  width: 9px;
  height: 9px;
  text-shadow: 0 0 5px var(--accent-color);
}

.header__theme-title-text {
  grid-area: focus;
}

.title__text-decor {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-family: var(--text-font-family);
  font-weight: 700;
  line-height: 83%;
  color: #db00ff;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__content {
  justify-self: center;
  align-self: center;
  font-size: var(--text-font-size-title);
  font-weight: 700;
  color: var(--text-color-title);
  block-size: 117px;
  inline-size: 355px;
  background-color: var(--accent-color);
  text-wrap:inherit;
}

.section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
  padding: 0px 10px;
}

.section__title {
  font-size: var(--text-font-size-title);
  color: var(--accent-color);
  font-family: var(--text-font-family);
  letter-spacing: 1px;
  padding-block-start: 44px;
}

/*.section__content {
  display: grid;
  gap: 20px;
}*/

.article__content {
  font-size: var(--text-font-size-title);
  font-family: var(--text-font-family);
  font-weight: var(--font-weight-main-text);
  color: var(--text-color-content);
  line-height: 23.4px;
  word-spacing: 3px;
  letter-spacing: 1px;
  padding-block-start: 10px;
}

.article__title-decor {
  color: var(--text-color-title);
  background-color: var(--accent-color);
}

.article__title {
  font-size: var(--text-font-size-title);
  font-family: var(--text-font-family);
  font-weight: var(--font-weight-main-text);
  margin-block-start: 20px;
}

/*.section__content:first-child {
  padding-top: 44px;
}*/

.article__title-decor-outline {
  background-color: var(--accent-color);
  font-weight: 400;
  color: var(--text-color-title);
}

.section__content-link {
  text-decoration: none;
  text-shadow: 1px 1px 0 var(--accent-color);
}

.section__gallery {
  display: grid;
  grid-template-rows: 7fr;
  gap: 10px;
}

.gallery__item {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.article__title-decor-gallery {
  background-color: var(--accent-color);
  color: var(--text-color-title);
}

.footer {
  position: relative;
  block-size: 100vh;
  max-height: 668px;
  display: grid;
  justify-items: center;
  align-items: center;
}

.decorated-zone::before {
  content: "";
  display: block;
  border-top: 2px solid var(--accent-color);
  border-right: 2px solid var(--accent-color);
  block-size: 25px;
  inline-size: 25px;
  top: 10px;
  right: 10px;
  position: absolute; 
}

.decorated-zone::after {
  content: "";
  display: block;
  border-bottom: 2px solid var(--accent-color);
  border-left: 2px solid var(--accent-color);
  block-size: 25px;
  inline-size: 25px;
  position: absolute;
  bottom: 10px;
  left: 10px;
}